/* CLEAN CSS */
@import "body_reset.css";
/* FONTS */
@import "fonts.css";

/* Variables pour le mode clair */
:root {
    --background-color: #235a47;
    --text-color: #f2f2f2;
    --title-color: #d98a6a;
    --box-color: #1d2833;
    --size-xl: 2rem;
    /* Titre principal (équivaut à environ 32px) */
    --size-medium: 1.5rem;
    /* Sous-titre ou grand texte (équivaut à environ 24px) */
    --size-small: 1rem;
    /* Paragraphe standard (équivaut à environ 16px) */
    --size-very-small: 0.875rem;
    /* Texte secondaire ou légende (équivaut à environ 14px) */

    /* --primary-color: hsl(0, 65%, 51%, 1);
    --primary-color-80: hsla(0, 65%, 51%, 0.8);
    --primary-color-50: hsla(0, 65%, 51%, 0.5);
    --secondary-color: hsla(123, 43%, 39%, 1);
    --secondary-color-80: hsla(123, 43%, 39%, 0.8);
    --secondary-color-50: hsla(123, 43%, 39%, 0.5); */
}

/* Variables pour le mode sombre */
/* [data-theme="theme-dark"] {
    --background-color: #2b2b2b;
    --text-color: #f2f2f2;
    --accent-color: #000000;
} */

/* #language_switcher_button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 8px;
    object-fit: cover;
    cursor: pointer;
} */

/* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: "alata-regular";
}

.active-filter {
    outline: solid white 2px;
}

/* header img carte */
.header_carte {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    transition: 0.3s ease;
}

h1 {
    text-align: center;
    font-family: "itim-regular";
    color: var(--title-color);
    text-transform: uppercase;
}

.container-pizza {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
}

/* price for pizza */
.position-relative {
    position: relative;
}

.pizza-price {
    position: absolute;
    z-index: 2;
    right: 5%;
    bottom: 5%;
    background-color: var(--box-color);
    padding: 4%;
    border-radius: 50%;
}

.pizza-promo {
    color: yellow;
}


/* pizza */
.container-pizza-info {
    background-color: var(--box-color);
    width: 47%;
    color: var(--text-color);
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 30px, rgba(0, 0, 0, 0.12) 0px -8px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.17) 0px 8px 10px, rgba(0, 0, 0, 0.09) 0px -2px 4px;
}

.position-relative>img {
    border-radius: 12px 12px 0px 0px;
    width: fit-content;
    min-height: 210px;
    max-height: 210px;
    object-fit: cover;
    width: 100%;
}

.title-pizza {
    color: var(--title-color);
    text-decoration: underline 1px solid var(--title-color);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pizza-descritpion {
    padding: 3%;
    text-align: center;
    font-size: var(--size-small);

}

/* btn commander */
.btn-commander {
    display: inline-block;
    width: 150px;
    text-transform: uppercase;
    background-color: var(--title-color);
    color: var(--box-color);
    font-weight: bold;
    border-radius: 12px;
    padding: 2%;
    margin: 10px auto;
}

/* ----- tablet ----- */
@media all and (min-width: 768px) and (max-width: 1024px) {
    .container-pizza {
        width: 90%;
    }

    .container-pizza-info {
        width: 32%;
        height: auto;
    }
}

/* ------ desktop ------  */
@media (min-width: 1024px) {

    /* header carte img */
    .header_carte {
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 20%;
    }

    .container-pizza {
        width: 80%;
    }

    .container-pizza-info {
        width: 20%;
        height: auto;
    }
}