/* CLEAN CSS */
@import "body_reset.css";
/* FONTS */
@import "fonts.css";

/* Variables pour le mode clair */
:root {
    --background-color: #235a47;
    --text-color: #f2f2f2;
    --title-color: #d98a6a;
    --box-color: #1d2833;
    --size-xl: 2rem;
    --size-medium: 1.5rem;
    --size-small: 1rem;
    --size-very-small: 0.875rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: "alata-regular";
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

input {
    margin: 1vw 4vh;
    height: 4vh;
}

label {
    display: none;
}

/* Cache initialement le formulaire d'inscription */
.signin-container {
    display: none;
}

/* Cache le bouton de connexion par défaut */
#show-login-btn {
    display: none;
}

.password-container {
    position: relative;
    display: flex;
}

.password-container input {
    width: 100%;
}

.toggle-password {
    position: absolute;
    height: 100%;
    right: calc(1vw + 25px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toggle-password img {
    height: 25px;
    cursor: pointer;
}