/* CLEAN CSS */
@import "body_reset.css";
/* FONTS */
@import "fonts.css";

:root {
    --background-color: #235a47;
    --text-color: #f2f2f2;
    --title-color: #d98a6a;
    --box-color: #1d2833;
    --size-xl: 2rem;
    --size-medium: 1.5rem;
    --size-small: 1rem;
    --size-very-small: 0.875rem;
    /* desktop size font */
    --desktop-size-xl: 3rem;
    --desktop-size-medium: 2rem;
    --desktop-size-small: 1.125rem;
    --desktop-size-very-small: 1rem;
}

video {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
}

main {
    margin-top: 100vh;
}

.container-bandeau {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    display: flex;
    /* Cacher l'élément tout en permettant la transition */
    transition: opacity 1s ease, visibility 0s linear 1s;
    /* Délai sur la visibilité pour qu'elle soit modifiée après la transition d'opacité */
}

.visible {
    opacity: 1;
    visibility: visible;
    /* Rendre visible l'élément */
    transition: opacity 1s ease, visibility 0s;
    /* Annuler le délai de visibilité */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: "alata-regular";
}

.star-color {
    color: gold;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    font-size: var(--size-xl);
    text-transform: uppercase;
    font-family: "gagalin-regular";
    color: var(--title-color);
    font-weight: bolder;
}

.title-color {
    color: var(--title-color);
}

.text-color {
    color: var(--text-color)
}

.box-color {
    background-color: var(--box-color);
}

.important-word {
    font-family: "gagalin-regular";
    text-transform: uppercase;
    color: #d98a6a;
}

.h1-sous-titre {
    font-size: var(--size-small);
    text-align: center;
    margin-top: -10px;
}

/* bandeau fixed */
.container-bandeau {
    /* display: flex; pour display flex depuis le JS */
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

.container-bandeau>figure>a {
    display: flex;
    gap: 5px;
}

.container-bandeau>figure>a>figcaption {
    text-transform: uppercase;
    font-family: "gagalin-regular";
    font-weight: bolder;
}

.bandeau-logo {
    width: 25px;
    height: 25px;
}

/* pizza of the day */
.container-pizza-of-the-day {
    margin: 5% auto;
    width: 85%;
}

.img-pizza-of-the-day {
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 30px, rgba(0, 0, 0, 0.12) 0px -8px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.17) 0px 8px 10px, rgba(0, 0, 0, 0.09) 0px -2px 4px;
}

.container-pizza-of-the-day-text {
    border-radius: 12px;
    height: 250px;
    position: relative;
    z-index: 0;
    margin-top: -5px;
}

.pizza-name {
    color: var(--title-color);
    text-align: center;
    font-size: var(--size-medium);
    padding: 2% 0%;
    text-transform: uppercase;
    font-family: "gagalin-regular";
    padding-top: 5%;
    font-weight: bold;
}

.description-pizza-of-the-day {
    padding: 2%;
    display: flex;
    align-items: center;
    text-align: center;
}

h2 {
    margin-bottom: 3%;
}

/* grid carte */
.container-grid {
    width: 85%;
    margin: auto;
    margin-bottom: 2%;
    transition: 0.5s ease;
}

.item {
    position: relative;
    margin-bottom: 20px;
    transition: 0.5s ease;

    img {
        border-radius: 12px;
        width: 100%;
        height: 150px;
        object-fit: cover;
        transition: filter 0.3s ease;
        /* Transition pour l'effet de flou */
    }

    .btn-grid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        background-color: var(--box-color);
        width: 180px;
        padding: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        font-size: var(--size-small);
        color: var(--text-color);
        text-transform: uppercase;
        font-family: "gagalin-regular";
        transition: 0.3s ease;
    }
}

.item5 .btn-grid {
    width: 200px;
}


/* section notre histoire */

.notre-histoire-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    padding: 1% 0%;
    text-decoration: underline 3px;
}

.sous-titre {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.container-notre-histoire {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 12px;
}

.notre-histoire-title-card {
    font-size: var(--size-medium);
    margin: 3%;
    text-transform: uppercase;
    font-family: "gagalin-regular";
    font-weight: bold;
}

.notre-histoire-description {
    border-radius: 12px 12px 0px 0px;
    height: auto;
    padding: 2%;
}

.container-notre-histoire>img {
    order: 2;
    border-radius: 0px 0px 12px 12px;
}

.container-notre-histoire>figcaption {
    order: 1;
}


/* une passion pour la qualité */

.container-double-img {
    display: flex;
}

.container-une-passion-pour-la-qualiter>figcaption {
    height: auto;
    padding: 2%;
    border-radius: 0px 0px 12px 12px;
}

.container-double-img>img {
    width: 50%;
    margin: auto;
}

.une-passion-pour-la-qualiter-img-1 {
    border-radius: 12px 0px 0px 0px;
}

.une-passion-pour-la-qualiter-img-2 {
    border-radius: 0px 12px 0px 0px;
}

.notre-histoire-description-2 {
    border-radius: 0px 0px 12px 12px;
    height: auto;
    padding: 2%;
}

/* une histoire de famille */

.container-une-histoire-de-famille>img {
    border-radius: 12px 12px 0px 0px;
}

.container-une-histoire-de-famille>figcaption {
    border-radius: 0px 0px 12px 12px;
    padding: 2%;
}

/* section avis */
h4 {
    padding-top: 3%;
    border-bottom: solid 5px var(--title-color);
}

.avis {
    margin-top: 8%;
    text-align: center;
}

.avis>P {
    width: 80%;
    margin: auto;
}

.container-name-avis {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    font-family: "alata-regular";
    text-transform: uppercase;
    font-weight: bold;
    width: 80%;
    margin: auto;
}

/* newsletter */

form {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 10%;
}

.form-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
}

.form-input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--title-color);
    outline: 0;
    color: var(--color-white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: var(--text-color);
}

form>button {
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    background: var(--title-color);
    color: var(--box-color);
    border: none;
    border-radius: 12px;
    font-family: "alata-regular";
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-input::placeholder {
    color: transparent;
}

.form-input:placeholder-shown~.form-label {
    cursor: text;
    top: 20px;
    color: var(--text-color);
}

.form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: var(--text-color);
}

.form-input:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image-slice: 1;
    color: var(--text-color);
}

.form-input:focus~.form-label {
    top: 0;
    color: var(--text-color);
}

/* section newsletter */
h5 {
    border-bottom: solid 5px var(--title-color);
    width: 80%;
    margin: auto;
}

.container-newsletter {
    padding-top: 2%;
    width: 80%;
    margin: auto;
}

/* ----- tablet ----- */
@media all and (min-width: 768px) and (max-width: 1024px) {
    .container-pizza-of-the-day {
        display: flex;
    }

    .container-pizza-of-the-day-text {
        width: 50%;
        height: auto;
        border-radius: 12px;
        padding: 1%;
        margin-top: -20px;
        margin-bottom: -20px;
    }

    .img-pizza-of-the-day {
        border-radius: 12px;
        height: auto;
        width: 50%;
        margin-right: -10px;
    }

    .description-pizza-of-the-day {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    /* grid notre carte */
    .container-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 15px;
        margin-bottom: 6%;
    }

    .item {
        margin-bottom: 0px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 30px, rgba(0, 0, 0, 0.12) 0px -8px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.17) 0px 8px 10px, rgba(0, 0, 0, 0.09) 0px -2px 4px;
    }

    .item2 {
        grid-column: 1 / 4;
        grid-row: 1 / 1;
    }

    .item5 {
        grid-column: 1 / 4;
        grid-row: 3 / 3;

        .btn-grid {
            width: 210px;
        }
    }
}

/* ------ desktop ------  */
@media (min-width: 1024px) {

    /* video header */
    /* video {
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: -1;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
    }

    main {
        margin-top: 100vh;
    } */

    /* reset */
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: var(--desktop-size-xl);
        text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    }

    .h1-sous-titre {
        font-size: var(--desktop-size-small);
    }

    /* pizza of the day */
    .container-pizza-of-the-day {
        display: flex;
        width: 60%;
    }

    .pizza-name {
        font-size: var(--desktop-size-medium);
    }

    .container-pizza-of-the-day-text {
        width: 50%;
        height: auto;
        border-radius: 12px;
        padding: 1%;
        margin-top: -20px;
        margin-bottom: -20px;
        font-size: var(--desktop-size-small);
    }

    .img-pizza-of-the-day {
        border-radius: 12px;
        height: auto;
        width: 50%;
        margin-right: -10px;
    }

    .description-pizza-of-the-day {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    /* grid notre carte */
    h2 {
        margin-top: -20px;
    }

    .container-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        gap: 15px;
        margin-bottom: 3%;
        width: 70%;
    }

    .item {
        overflow: hidden;
        margin-bottom: 0px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 30px, rgba(0, 0, 0, 0.12) 0px -8px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.17) 0px 8px 10px, rgba(0, 0, 0, 0.09) 0px -2px 4px;
        font-size: var(--desktop-size-medium);

        img {
            width: 100%;
            object-fit: cover;
        }

    }

    .item1 {
        grid-column: 1 / 4;
        grid-row: 1 / 1;

        img {
            height: 160px;
            object-position: 50% 40%;
        }
    }

    .item2 {
        grid-column: 4 / 6;
        grid-row: 1 / 3;

        img {
            height: 335px;
            object-fit: cover;
        }
    }

    .item3 {
        grid-column: 1 / 1;
        grid-row: 2 / 4;

        img {
            height: 335px;
            object-fit: cover;
        }

        .btn-grid {
            width: 130px;
        }
    }

    .item4 {
        grid-column: 2 / 4;
        grid-row: 2 / 4;

        img {
            height: 335px;
            object-fit: cover;
        }
    }

    .item5 {
        grid-column: 4 / 6;
        grid-row: 3 / 3;

        img {
            height: 160px;
        }
    }

    /*grid hover */

    .item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        transition: transform 1s ease;
        z-index: 1;

    }

    .item:hover::before {
        transform: scale(1.08);
    }

    .item1::before {
        background-image: url("../img/grid/toutes_les_pizzas.png");
    }

    .item2::before {
        background-image: url("../img/grid/les_classiques.png");
    }

    .item3::before {
        background-image: url("../img/grid/sur_mesure.png");
    }

    .item4::before {
        background-image: url("../img/grid/les_plus_demandés.png");
    }

    .item5::before {
        background-image: url("../img/grid/nos_offres_spéciales.png");
    }

    /* notre histoire */
    .sous-titre {
        font-size: var(--desktop-size-small);
    }

    /* partie 1 et 3 */
    .container-notre-histoire {
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .container-notre-histoire-desktop {
        display: flex;
        flex-direction: row;
        width: 60%;
    }

    .container-notre-histoire-desktop>img {
        width: 50%;
        height: 450px;
        order: 1;
        position: relative;
        z-index: -1;
        object-fit: cover;
        border-radius: 12px;
    }

    .notre-histoire-description-desktop {
        width: 50%;
        height: auto;
        order: 2;
        margin: -30px 0px -30px -10px;
        border-radius: 12px;
        font-size: var(--desktop-size-small);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        .notre-histoire-title-card {
            margin-bottom: 50px;
            font-size: var(--desktop-size-medium);
        }
    }

    /* partie 2 */
    .container-notre-histoire-partie-2-desktop {
        display: flex;
        flex-direction: row;
        width: 60%;
    }

    .notre-histoire-description-2 {
        width: 50%;
        order: 1;
        border-radius: 12px;
        margin: -30px -10px -30px 0px;
        position: relative;
        z-index: 2;
        font-size: var(--desktop-size-small);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        .notre-histoire-title-card {
            margin-bottom: 50px;
            font-size: var(--desktop-size-medium);
        }
    }

    .container-double-img {
        width: 50%;
        order: 2;
        height: 50%;
        border-radius: 12px;
        object-fit: cover;
        gap: 10px;

        /* min-width: 55%; */

        .une-passion-pour-la-qualiter-img-1 {
            border-radius: 0px 12px 12px 0px;
        }

        .une-passion-pour-la-qualiter-img-2 {
            border-radius: 12px;
        }

    }

    /* avis */
    .container-avis {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        align-items: center;
        text-align: center;
        margin-top: -80px;

        .avis {
            width: 40%;
        }

        .container-name-avis {
            text-align: center;
            justify-content: space-between;
            width: 250px;
            margin: auto;
        }
    }


    /* newsletter */
    .container-newsletter>p {
        margin-bottom: 35px;
    }

    form {
        display: flex;
        justify-content: center;
        margin: auto;
        flex-direction: row;
        width: 80%;
    }

    form>button {
        width: 20%;
        margin-bottom: 3%;
    }
}